body {
    background-color: red;
}
 <style>
             • {margin: 0; padding: 0;}
                body{ font-size: 40px;}
                .banner {position: relative; width: 90%; margin: 0 auto;}
                .banner img{width: 100%;
                .heading{color: red; position: absolute; top: 50%; width: 100%; text-align: center; font-size:3rem;text-shadow: 5px 5px 10px #000000; }
</style>
 <h1 style="font-size:50px">About Washington Park</h1>
  <h1 style="font-size:30px">It consists of five basketball courts with horrible double rims and one skatepark with ramps, rails, quarter pipes, and ledges and a bunch of dudes with bad attitudes.</h1>
   <style>
                • {margin: 0; padding: 0;}
                body{ font-size: 40px;}
                .banner {position: relative; width: 90%; margin: 0 auto;}
                .banner img{width: 100%;
            </style>